.post-card {
  background-color: #868585 !important;
  padding: 24px;
  margin-top: 60px;
  border-radius: 10px !important;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.26) !important;
}
.post-container {
  margin: 0px 22%;
}
.post-header {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-top: 10px;
  margin-left: 5px;
  text-align: left;
}
.post-body {
  font-size: 25px !important;
  max-width: 100%;
}
.post-avatar {
  width: 50;
  height: 50;
  margin-right: 20px;
}
.addpost-button {
  background-color: #b93946 !important;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.15);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 6px;
  height: auto;
  padding: 0px 15px;
}

.addpost-button:focus {
  outline: none;
}
.post-button {
  background-color: #b93946 !important;
  border: none;
  color: whitesmoke;
  text-align: center;
  /* text-decoration: none; */
  display: inline-block;
  border-radius: 15px;
  /* box-shadow: 0 4px 11px rgba(0, 0, 0, 0.1); */
  padding: 15px 22px;
  font-weight: 500;
}
.post-button:focus {
  outline: none;
}
.comment-card {
  background-color: #6b6a6a;
  margin: 7px 1%;
  padding: 7px;
  width: 100%;
  border-radius: 15px;
}
textarea {
  border-radius: 5px;
  background-color: #d3d3d3;
  /* box-shadow: 0 4px 11px rgba(0, 0, 0, 0.1); */
  border: 2px solid transparent;
  resize: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 20px;
}
textarea:focus {
  outline: none;
}

@media screen and (max-width: 800px) {
  .post-container {
    margin: 0px 2%;
  }
}

.modal__header {
  width: 100%;
  padding: 1rem 0.5rem;
  background-color: #522b2f;
  color: white;
}
.modal__header h2 {
  margin: 0.5rem;
}

.modal__content {
  padding: 1rem 0.5rem;
  background-color: #c09273;
}

.modal__footer {
  padding: 1rem 0.5rem;
  background: #c09273;
}
